.header{
    width: 100vw;
    background-color: rgb(59, 162, 128);
    box-shadow: 0px 2px 10px rgb(59, 162, 128);
    height: 70px;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.header-container {
    display: flex;
    background-color: rgb(59, 162, 128);
    height: 70px;
    align-items: center;
    
    width: 95%;
    
    justify-content: space-between;
    
    
}
.header a{
    display: flex;
    justify-content: center;
}

.header-logo img{
    max-height: 60px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px rgb(41, 40, 40);
    
}

.header-buscador {
    display: flex;
    gap: 20px;
}

.header-buscador input {
    width: 30vw;
    min-width: 200px;
}
#buscador {
    height: 30px;
    font-size: 1em;
    border-radius: 20px;
    background-color: rgb(239, 239, 243);
    color: rgb(20, 20, 20);
    border: none;
    box-shadow: 0px 0px 4px rgb(41, 40, 40);
    padding-left: 20px;
}

#button-buscador {
    height: 30px;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 4px rgb(41, 40, 40);
    background-color: rgb(75, 167, 220);
    color: white;
}


.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
    right: 20px;
    top: 2.5px;
}

.filtros select {
    border-radius: 30px;
    height: 30px;
    width: 100px;
}

.filtro-tipo {
    
    width: 100%;
    right: 0;
}
.header-carrito p{
    margin: 0;

}
.header-carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-carrito button{
    background-color: rgba(245, 222, 179, 0);
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-carrito img{
    width: 30px;

}



@media only screen and (max-width: 700px){
    .header img{
        visibility: hidden;
    }
}