
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin: auto;
    position: relative;
    width: 90%;
    top: 90px;
    padding-bottom: 150px;
}

.tarjeta-producto {
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
    width: 350px;
    word-wrap: break-word;
    margin: auto;
    box-shadow: 0px 1px 5px rgb(247, 254, 251);
    height: 300px;
    position: relative;

}

.tarjeta-producto h3 {
    color: rgb(84, 232, 183);
    left: 15px;
    position: absolute;
    top: 10px;
}

.tarjeta-producto p {
    position: absolute;
    top: 100px;
    left: 15px;

}

.tarjeta-producto h4 {
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: auto;
}

.tarjeta-producto button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: auto;
    width: 60px;
    border-radius: 5px;
}

.tarjeta-producto button:hover{
    
    outline: 1px solid white;
    transition: 0.2s;
}

.tarjeta-button img{
    max-width: 50px;
}